{%extends 'student_layouts.html'%}
{%block content%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Study Course - Education Category Bootstrap Responsive Template | About : W3layouts</title>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="../static/assets/css/style-starter.css">
    
  </head>
  <body>
    
      
    


    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="w3l-courses">
        <div class="blog pb-5" id="courses">
          <div class="registerContainer">
            <h2>Payment GateWay</h2>
            <div class="registerMain">
              <br>
                <div class="regLeft">
                 
                    <h6>Choose Plan</h6>
                    <div style="display: flex; justify-content: space-evenly;">
                        <div class="topSingleCoursePlanPrice" id="topSingleCoursePlanPrice" onclick="onClicked()">
                          <h6 style="color: var(--bg-color);">3 Months</h6>
                          <h5 style="color: var(--bg-color); margin-top: 5px;">Rs.3500/-</h5>
                        </div>

                        <div class="topSingleCoursePlanPrice"  id="topSingleCoursePlanPrice" >
                          <h6 style="color: var(--bg-color);">6 Months</h6>
                          <h5 style="color: var(--bg-color); margin-top: 5px;">Rs.6500/-</h5>
                        </div>

                        <div class="topSingleCoursePlanPrice"  id="topSingleCoursePlanPrice">
                          <h6 style="color: var(--bg-color);">9 Months</h6>
                          <h5 style="color: var(--bg-color); margin-top: 5px;">Rs.9500/-</h5>
                        </div>
                    </div>
                    <br>
                    <div>
                        <h6>Enter you payment Details</h6>
                            <input class="RInput" type="text" placeholder="Name" />
                            <br>

                            <input class="RInput" type="number" placeholder="Card no" />
                            <br>

                            <input class="RInput" type="date" placeholder="Expiry Date" />
                            <br>

                            <input class="RInput" type="number" placeholder="CVV" />
                            <br>
                    </div>
                 
                </div>
                
                <!-- <button class="" style="border: none; border-radius: 3px; background-color: #fe5388; padding: 12px; border-radius: 50px; margin-bottom: 8px; margin-top: 8px;">Sign Up</button> -->
                <button onclick="paymentComplete()" style="margin-top: 5px; border-radius: 3px;
                 border: none; background-color: #fdfdfd; padding: 12px;
                  border-radius: 50px;">Pay Now</button>
            </div>
          </div>
        </div>
    </section>



    <script src="../static/assets/js/jquery-3.3.1.min.js"></script>

<script src="../static/assets/js/theme-change.js"></script>

<!-- stats number counter-->
<script src="a../static/ssets/js/jquery.waypoints.min.js"></script>
<script src="../static/assets/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

<script src="../static/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      dots: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1
        },
        480: {
          items: 1
        },
        667: {
          items: 1
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->

<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
          loop: true,
          margin: 20,
          nav: false,
          responsiveClass: true,
          responsive: {
              0: {
                  items: 1,
                  nav: false
              },
              768: {
                  items: 2,
                  nav: false
              },
              1000: {
                  items: 3,
                  nav: false,
                  loop: false
              }
          }
      })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>

<script>
    function onClicked() {
        document.getElementById("topSingleCoursePlanPrice").classList.toggle('selectedPrice')
        }

        function paymentComplete() {
            alert("Payment Successfull")
        }
</script>
<!--//MENU-JS-->




</body>

</html>
{%endblock%}
