{%extends 'layouts.html'%}
{%block content%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Study Course - Education Category Bootstrap Responsive Template | About : W3layouts</title>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="../static/assets/css/style-starter.css">
    
  </head>
  <body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="w3l-courses">
        <div class="blog pb-5" id="courses">
            <div>
                <div class="ImageandBtn"> 
                  <div class="ThumbnailImage" style="margin: 30px;">
                    <img src="../static/assets/images/banner1.jpg" style="border-radius: 8px;" width="800px" height="300px"/>
                  </div>
                  
                  <div class="" style="margin:30px">
                    <h4>Application</h4>
                    <h2>Python for Beginners</h2>
                    <div class="applyButton">
                      <button style="padding:8px;border-radius: 8px;background-color: #e83e8c;">Apply</button>
                      <button style="padding:8px; border-radius: 8px; margin-top: 10px;">Save for Later</button>
                    </div>
                    


                  </div>
                </div>
            </div>


            <div style="margin:20px">
              <h4>Fees</h4>
              <h3>3000 Rs/Per Month</h3>
            </div>

            <div style="margin:20px">
              <h5>Overview</h5>
              <h4>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4>
            </div>

            <div class="durationAndOther" style="padding:30px"> 
              <div>
                left
              </div>

              <div>
                right
              </div>
            </div>

        </div>
    </section>
<!-- Template JavaScript -->
<script src="../static/assets/js/jquery-3.3.1.min.js"></script>

<script src="../static/assets/js/theme-change.js"></script>

<!-- stats number counter-->
<script src="../static/assets/js/jquery.waypoints.min.js"></script>
<script src="../static/assets/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

<script src="../static/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      dots: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1
        },
        480: {
          items: 1
        },
        667: {
          items: 1
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->

<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
          loop: true,
          margin: 20,
          nav: false,
          responsiveClass: true,
          responsive: {
              0: {
                  items: 1,
                  nav: false
              },
              768: {
                  items: 2,
                  nav: false
              },
              1000: {
                  items: 3,
                  nav: false,
                  loop: false
              }
          }
      })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="../static/assets/js/bootstrap.min.js"></script>


</body>

</html>


{%endblock%}